@import '@/styles/variables';

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-right: 1px solid $gray--darken-1;

  svg {
    height: 32px;
    width: 32px;
    color: $white;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
